<h1>Public::Projects#index</h1>
<table class="table table-hover table-inverse">
<!--検索結果表示 -->
  <% if @model_project == "Projects" %>
    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.project_name %></td>
        </tr>
      <% end %>
  <% end %>
    </tbody>
</table>


