<h1>チーム削除</h1>
<p> 「<%= @team.team_name %>」チームで作成されたコメント、投稿した企画は削除されます。</p>
<p> 「<%= @team.team_name %>」チームを削除しますか？</p>

  　<%= link_to 'このチームを削除', admin_team_path, method: :DELETE, class: "btn btn-secondary" %>