
<h1>チーム一覧</h1>



<table>
  <thead>
    <tr>
      <th>チーム名</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= link_to team.team_name, admin_team_path(team) %> </td>
        <td><%= link_to "編集",edit_admin_team_path(team)  %></td>
      </tr>
    <% end %>
  </tbody>
</table>